
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blue{
    color: blue;
}
.red{
    color: red;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
h1{
    font-family: "Quicksand", sans-serif;
    font-size: 90px;
    margin-bottom: 30px;
}
#divbir{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 185px;
    
}
#a{
    width: 45vw;
    height: 6vh;
    border-radius: 10px;
    border: 1px solid rgb(219, 217, 212);
    
    box-shadow: 5%;
}
#icon{
    
}
#diviki{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

 

#media{
display: inline;
}
.media{
    
    font-size: 35px;
}
.label{
    
}
